<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandy.budgettracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExpenseActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activities.AddBudgetActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BudgetDetailsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BudgetTransactionsActivity"
            android:parentActivityName=".activities.BudgetDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".providers.ExpensesProvider"
            android:authorities="com.example.sandy.budgettracker.expenses"
            android:exported="false" />
        <provider
            android:name=".providers.UserProvider"
            android:authorities="com.example.sandy.budgettracker.users"
            android:exported="false" />
        <provider
            android:name=".providers.ItemsProvider"
            android:authorities="com.example.sandy.budgettracker.items"
            android:exported="false" />
        <provider
            android:name=".providers.BudgetsProvider"
            android:authorities="com.example.sandy.budgettracker.budgets"
            android:exported="false" />


    </application>

</manifest>